.head{
    justify-content: center;
    font-size:xxx-large;
    color: rgb(94, 93, 93);
    font-style:oblique;
    display:grid;
    justify-content: center;
}
.form1{
    background-color: rgb(0, 0, 0);
    font-size: larger;
    height: 100%;
    width:100%;
    font-family: 'Poppins',sans-serif;
    position:absolute;
    background: linear-gradient(
        #3d71e9,
        #add7f3
    );
    padding: 2px ;
    display:grid;
    white-space: pre-wrap;
    line-height: 2em;
    border: 2px solid rgb(12, 11, 11);
    justify-content: center;
}
.er {
    color: rgb(12, 11, 11);
    background-color: rgb(226, 241, 228);
    border: 2px;
    font-size: medium;
    display:inline;
    border-style:solid;
    border-color: rgb(253, 52, 52);
  }
  .button {
      background-color: chartreuse;
      size: 2px;
      width: 40%;
      height: 20%;
      padding: 5px;
      position: relative;
      display: flex;
      justify-content:center;
      
  }

.ip{
    box-sizing: content-box;
    width: 100%;
    padding: 12px;
    border: 2em;
    display:flex;
    justify-content: center;
    background-color: rgb(233, 201, 236);

}
  