<form class=form1  [formGroup]="loginform">
    <h2 class="head"> LOGIN FORM</h2>
    <label
      ><input class="ip" type="text" formControlName="username" placeholder="ENTER THE USERNAME"/>
      <span
        class="er"
        *ngIf="
          loginform.get('username')?.invalid && loginform.get('username')?.touched
        "
        >*USERNAME IS REQUIRED</span
      ></label
    >
    <label
      ><input class="ip" type="password" formControlName="password" placeholder="ENTER THE PASSWORD"/>
      <span
        class="er"
        *ngIf="
          loginform.get('password')?.invalid && loginform.get('password')?.touched
        "
        >*PASSWORD IS REQUIRED && *Minimum 6 Characters is Required</span
      ></label
    >
    <!-- <label
      ><input class="ip" type="password" formControlName="cpassword" placeholder="CONFIRM THE PASSWORD"/>
      <span
        class="er"
        *ngIf="
          loginform.get('cpassword')?.invalid && loginform.get('cpassword')?.touched
        "
        >*PASSWORD IS REQUIRED && *Minimum 6 Characters is Required</span
      ></label
    ><br /> -->
    <button  class="button" type="submit">Submit</button>